.home-parallax-block .action.primary {

    border-radius: 25px;
 
  

}
.action.primary {

    border-radius: 25px;
}

.product-item-inner {
    
  border-radius: 25px;
}
.page-title-main {
    
    background: green;
}

